.header {
    width: 100%;
    background-image:initial;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 20%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: background-image 1.5s ease-in;

    .main-title {
        margin-top: 160px;
        font-family: var(--font-nunito);
        color: white;
        font-weight: 600;
        font-size: 60px;
        z-index: 10;
        text-align: center;

    }

    .filter {
        filter:brightness(0.8);
        position: absolute;
        top:0px;
        left:0px;
        width: 100%;
        height: 500px;
        background-color: #6b6b6b5c;
        z-index: 1;
    }

    &.home {
        height: 90vh;
        background-image:url("../../public/img/header/Kinderfotografie-header.webp");
        .filter {
            display: none;
        }

        .main-title {
            margin-top: 300px;

        }
    }






}
.header.portfolio {
    background-image:url("../../public/img/header/familiefotografie_header.webp");
    height: 500px;

}
.header.fotoshootfamilie {
    background-image:url("../../public/img/header/familiefotografie_header.webp");
    height: 500px;
}
.header.fotoshootkinderen {
    background-image:url("../../public/img/header/Kinderfotografie-header.webp");
    height: 500px;
}

.header.fotoshootloveshoot {
    background-image: url("https://www.maxvanwijnen.nl/www/images/love/Loveshoot-Katwijk-003.webp");
}
.header.fotoshoottrouwen {
    background-image: url("https://www.maxvanwijnen.nl/www/docs/images/header/bruidsreportage.webp");
}
.header.fotoshootzwangerschap {
    background-image: url("https://www.maxvanwijnen.nl/www/docs/images/header/zwangerschapsfotografie.webp");
}
.header.fotoshoot {
    background-image:url("../../public/img/header/Kinderfotografie-header.webp");
    height: 500px;
}
.header.contact {
    background-image:url("../../public/img/header/contact-header.webp");
    height: 500px;
}
.header.fotoshootportret {
    background-image: url("https://www.maxvanwijnen.nl/www/docs/images/header/portretfotografie.webp");
    height: 500px;
}


.header .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}


.nav {

    display: flex;
    z-index: 90;

    justify-content: space-between;
    background-color: var(--transparant-white);
    border-radius: 0px 0px 5px 5px;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    position: fixed;
    width:100%;
    max-width:1200px;
    height:60px;
    transition: height 1.4s ease-in;

}



.nav a {
    display: inline-block;

    color: #2F2F2F;
    font-family: var(--font-raleway);
    text-transform: uppercase;
    font-size:var(--nav-font-size);

}
.nav .nav-items {
    padding:5px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-shrink: 1;

    opacity: 0%;
    transition: opacity 0.5s ease;

}

.nav.desktop-menu .nav-items {
    opacity: 100%;
}

.nav.desktop-menu .submenu-fotoshoot {
    display: none;
}
.nav.desktop-menu .fotoshoot:hover + .submenu-fotoshoot,
.nav.desktop-menu .submenu-fotoshoot:hover {
    display: flex;
    position: absolute;
    flex-direction: column;
    border-radius: 0px 0px 5px 5px;
    top: 50px;
    width: 200px;
    text-align: center;
    margin-left: -198px;
    background-color:var(--transparant-white);
}

.nav .mobile-menu-button {
    display: none;
}



.nav .nav-items a {
    background-color:unset;
    padding:15px;

    transition: background-color 0.4s ease-in-out;
    border-radius: 10px;
}
.nav .nav-items a:hover {
    background-color:var(--color-black-coffee);
    color:white;
    border-radius: 5px;

}
.nav .book-button {
    height: 100%;
}
.nav .book-button a {
    background-color: var(--color-orange);
    padding:20px;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 0px 0px 5px 0px;
    transition: background-color 0.4s ease-in-out;
}
.nav .book-button a svg {
    width:25px;
    height:25px;
}

.nav .book-button a:hover {
    background-color: var(--color-black-coffee);
}
.nav .book-button:hover a {
    color: white;
}
.nav .book-button a {
    color: white;

}

.logoWrapper {
    padding:10px;
    height: 55px;

}
.nav img.logo {

}


.nav.mobile-menu {


    height:400px;
    z-index:999;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.mobile-menu a {

}
.nav.mobile-menu .logo {
    width:138px;
}
.nav.mobile-menu .mobile-menu-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 20px;
}
.nav.mobile-menu svg {
    display: none;
}
.nav.mobile-menu .nav-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    opacity: 100%;
    flex-grow: 0;
}

.nav.mobile-menu .nav-items a  {
    width: 50%;
    text-align: center;

}
.nav.mobile-menu .nav-items a.fotoshoot  {
    order:5;
    width: 100%;
}

.nav.mobile-menu .submenu-fotoshoot {
    order:6;
    width: 100%;
}
.nav.mobile-menu .submenu-fotoshoot a {
    width: 50%;
}


@media screen and (max-width: 1220px) {
    .header {
        width:100%;
    }
    .container {
        width: 100%;

    }
    .nav.dekstop-menu {
        width:calc(100% - 20px);
        justify-content: center;
        margin:0 auto;
    }

}

@media screen and (max-width: 800px) {
    .nav {
        width:calc(100% - 20px);
        justify-content: center;
        margin:0 auto;
    }
    .book-button {
        display: none;
    }
    .nav.desktop-menu .nav-items {
        display: none;
    }
    .nav .mobile-menu-button {
        display: flex;

        position: absolute;
        left: 10px;
        justify-content: space-between;
        align-items: center;
        width: 65px;
    }
    .nav .mobile-menu-button svg {
        width:22px;
        height:200px;
    }
    .nav .mobile-menu-button span {

    }
    .header .main-title {
        font-size: 40px;

    }


}