.txtImg2Column {
  display: flex;
  width: 100%;

  max-width: var(--max-width);
  justify-content: space-between;
  margin-top:30px;
}

.txtImg2Column .text {
  background-color: white;
  padding:20px;
  border-radius: 16px;
  flex-basis: 670px;
}

.txtImg2Column .text h1 {
  font-family: var(--font-baloo-tamma);
  font-size: 48px;
  line-height: 35px;
}

.txtImg2Column .text h2 {
  font-family: var(--font-baloo-tamma);
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 10px;
}

.txtImg2Column .text p {
  font-family: var(--font-roboto);
  color: #5E5E5E;
  font-size:20px;
  line-height: 27.5px;

}
.txtImg2Column .img-wrapper {

  display: flex;
  justify-content: center;
  img {
    border-radius: 16px;
    max-width: 90%;
    height: auto;
  }
}

@media only screen and (max-width: 800px) {
  .txtImg2Column {
    flex-direction: column !important;
    align-items: center;
  }

  .txtImg2Column .text {
    flex-basis: fit-content;
  }
}