.intro-text-only {
  h1 {
    text-align: center;
  }
  p {
    font-family: var(--font-roboto);
    color: #5E5E5E;
    font-size: 16px;
    line-height: 27.5px;
    text-align: center;

  }
  margin-bottom: 50px;
}