.intro-text-only {
  h2 {
    text-align: center;
    
  }
  p {
    
    color: #5E5E5E;
    font-size: 16px;
    line-height: 27.5px;
    text-align: center;

    a,
    a:visited,
    a:active {
      font-weight: bold;
      color: black;
    }

  }
  margin-bottom: 50px;
}