.faq {
    display: flex;
    flex-direction: column;
    
    

    h2 {
        text-align: center;
        margin-top:20px;
        font-weight: bold;
        font-size: 35px;
      }

    .faq-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;


    }
}

