.book-a-shoot-wrapper {
    display: flex;
    flex-direction: column;
  align-items: center;
    max-width: 500px;
    margin:0 auto;
    gap:15px;
  font-family: var(--font-raleway);

  .send-success {

    width:700px;
    background-color: white;
    color: #444;
    padding:20px 10px;
    border-radius: 10px;
    border:2px solid #505050;
    z-index: 200;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-bottom:10px;
    }
    button {
      margin-top:10px;
      display: flex;
      align-items: center;
      padding:10px;
      gap:10px;
      border-radius:5px;
      border:1px solid grey;
      background-color: #28a745;
      color: white;
      text-transform: uppercase;
      letter-spacing: 2px;
      cursor: pointer;

    }
  }
}


.contact-form {
  font-family: var(--font-raleway);
  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin:0 auto;
    gap:15px;

    .general-error {
      background-color: darkred;
      color: white;
      width: fit-content;
      padding:8px;
      border-radius: 5px;
      font-size: 12px;
      margin-top:5px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    label {
      display: flex;
      flex-direction: column;

      .field-error {
        background-color: darkred;
        color: white;
        width: fit-content;
        padding:8px;
        border-radius: 5px;
        font-size: 12px;
        margin-top:5px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }


      input, textarea {
        margin-top:8px;
        padding:10px;
        border-radius: 5px;
        border:1px solid #d7d7d7;
        transform:scale(1.0);
        transition: transform 0.2s ease-in-out;

        &:focus {
          transform:scale(1.07);
        }

      }

      textarea {
        height:200px;
      }


    }

    button {
      padding:10px;
      border-radius: 5px;
      border: 1px solid #D7D7D7FF;
      background-color: var(--color-orange);
      color: white;
      border:0px;
      text-transform: uppercase;
      letter-spacing: 1px;
      transform:scale(1.0);
      transition: transform 0.2s ease-in-out;

      &:hover {
        cursor:pointer;
        transform: scale(1.1);
    }

    }

  }
}