.book-a-shoot-bg {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}
.book-a-shoot-wrapper {

  font-family: var(--font-raleway);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  .send-success {
    position: fixed;
    width:700px;
    background-color: white;
    color: #444;
    padding:20px 10px;
    border-radius: 10px;
    border:2px solid #505050;
    z-index: 200;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-bottom:10px;
    }
    button {
      margin-top:10px;
      display: flex;
      align-items: center;
      padding:10px;
      gap:10px;
      border-radius:5px;
      border:1px solid grey;
      background-color: #28a745;
      color: white;
      text-transform: uppercase;
      letter-spacing: 2px;
      cursor: pointer;

    }
  }
}
.book-a-shoot-wrapper {

  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;


  .book-a-shoot {
    background: white;
    min-width: 400px;
    height: fit-content;
    padding: 10px;
    z-index: 999;
    border-radius: 5px;
    font-family: var(--font-raleway);
    display: flex;
    flex-direction: column;
    gap:10px;
    max-width: 100vw;
    max-height: 100vh;
    overflow-y: scroll;


    .close-button {
      &:hover {
        cursor: pointer;
      }
    }

    h2 {
      width: 100%;
      text-align: center;
    }

    h3 {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .center-part {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .form-intro-text {
        max-width:600px;
      }

      .general-error {
        background-color: darkred;
        color: white;
        width: fit-content;
        padding: 8px;
        border-radius: 5px;
        font-size: 12px;
        margin-top: 5px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      .form-part {
        display: flex;
        flex-direction: row;



        .form-column {
          display: flex;
          flex-direction: column;

          width: 300px;
          gap: 20px;



          div {
            width: 90%;


            label {
              width: 100%;
              display: block;
              margin-bottom: 5px;
              text-align: left;
            }

          }


          p {
            width: 100%;
            max-width: 600px;
          }

          input, select, textarea {
            width: 100%;
            padding: 15px;
            border-radius: 5px;
            border: 1px solid #cbcbcb;
          }



          .field-error {
            background-color: darkred;
            color: white;
            width: fit-content;
            padding: 8px;
            border-radius: 5px;
            font-size: 12px;
            margin-top: 5px;
            letter-spacing: 1px;
            text-transform: uppercase;
          }

          select {
            text-transform: capitalize;
          }
        }



      }


    }

    .bottom-part {

      display: flex;
      justify-content: space-between;

      button {
        background-color: var(--color-orange);
        color: white;
        padding: 10px;
        border: 0px;
        text-transform: uppercase;
        border-radius: 3px;
        display: flex;
        justify-content: space-between;
        width: fit-content;
        align-items: center;
        gap: 10px;

        &.cancel {
          background-color: #d7d7d7;
        }


        &:hover {
          background-color: var(--color-black-coffee);
          cursor: pointer;
        }

        .send-icon {
          font-size: 20px;
        }
      }
    }
  }


}

@media only screen and (max-width:800px){

  .book-a-shoot-wrapper {
    .book-a-shoot {
      position: absolute;

      .form-part {
        flex-direction: column !important;

      }
    }



  }


}
