.steps-infographic {


  padding-top:30px;
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    padding-bottom:30px;
  }


  .steps-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap:20px;
    width:100%;
    overflow-x: scroll;
    overflow-y: hidden;



  }

}