.text-content {
  font-family: var(--font-baloo-tamma);
  margin-bottom: 40px;

  h2 {
    text-align: center;
    margin-top:20px;
    font-weight: bold;
    font-size: 35px;
  }
  h1 {
    text-align: center;
    margin-top:20px;
    margin-bottom: 10px;
    font-size: 35px;
  }
  p {
    
    text-align: center;

    font-weight: normal;
    padding:0px 250px;
    
    margin-bottom:30px;
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
    font-family: var(--font-family-p);
    

    a {
      color: #2F2F2F;
      font-weight: bold;
    }
  }
}
@media only screen and (max-width:1200px) {

  .text-content {
    p {
      padding:5px 30px;
    }
  }
}