.image-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px 0;
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  font-family: var(--font-family-p);

  h3 {
    font-family: var(--font-raleway);
  }


  @media screen and (max-width: 640px) {
    justify-content: space-around;
    padding: 0 20px;
  }

  img {
    flex-basis: calc(20% - 10px);
    margin-bottom: 20px;
    border-radius:5px;
    box-shadow:10px 10px 65px -10px rgba(0, 0, 0, 0.27);

    @media screen and (max-width: 1024px) {
      flex-basis: calc(25% - 10px);
    }

    @media screen and (max-width: 640px) {
      flex-basis: calc(33.33% - 10px);
    }

    @media screen and (max-width: 480px) {
      flex-basis: calc(50% - 10px);
    }

    @media screen and (max-width: 360px) {
      flex-basis: calc(100% - 10px);
    }
  }
}
