.images-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0;

  @media screen and (max-width: 640px) {
    justify-content: space-around;
    padding: 0 20px;
  }

  img {
    flex-basis: calc(20% - 10px);
    margin-bottom: 20px;

    @media screen and (max-width: 1024px) {
      flex-basis: calc(25% - 10px);
    }

    @media screen and (max-width: 640px) {
      flex-basis: calc(33.33% - 10px);
    }

    @media screen and (max-width: 480px) {
      flex-basis: calc(50% - 10px);
    }

    @media screen and (max-width: 360px) {
      flex-basis: calc(100% - 10px);
    }
  }
}
