.question {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 48%;
    border-bottom: 1px solid rgb(219, 219, 219);
    margin-bottom: 25px;
    position: relative;

    .arrow {
        transform: scale(1.5);
    }

    &:hover {
        cursor: pointer;
    }
  
    h3 {
      margin: 0;
    }
  
    p {
      visibility: hidden;
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: opacity 1.2s ease;
      font-family: var(--font-raleway);
    }
  
    &.extended {
      p {
        visibility: visible;
        opacity: 1;
        height: auto;
        transition: opacity 0.2s ease;
      }

      .arrow {
        transform: rotate(90deg) scale(1.5);
        transition: transform 0.5s ease-in-out;
      }
      
    }
  
    &.collapsed {
      p {
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: opacity 0.2s ease;
      }
      .arrow {
        transform: rotate(0deg) scale(1.5);
        transition: transform 0.5s ease-in-out;
      }
     
    }
}
@media only screen and (max-width: 1200px) {

    .question {
    width: 98%;
    max-width: unset;
    margin-bottom: 5px;
    padding:15px;
  }

}
  