.step {

  font-family: var(--font-raleway);
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  background-color: white;
  border-radius:5px;
  padding:20px;
  transform: scale(1.0);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }



  .icon {
    font-size: 50px;

  }

  .step-id {
    font-size: 20px;
    text-align: center;
    margin-bottom:5px;

  }

  h3 {
    font-family: var(--font-baloo-tamma);
    font-size: 24px;
    line-height: 24px;
    text-align: center;
  }

  p {
    text-align: center;
  }
}