.quote {
  width: 100%;
  font-size: 30px;
  text-align: center;
  padding:50px 0px;
  color: #adadad;
  font-family: var(--font-baloo-tamma);

  span {
    font-size: 40px;
    color: #2F2F2F;
    margin:0px 30px;
  }
}