.photoshoot-tile {

    width: 166px;
    height: 132px;
    margin-top:20px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: transform 0.3s;
    position: relative;
}

.title {
    font-family: var(--font-nunito);
    margin-top:5px;
    color: var(--color-black-coffee);


}
.title .fotoshoot {
    z-index: 1;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height: 18px;
    text-transform:capitalize;

}

.title .text {
    z-index: 1;
    text-transform: uppercase;
    font-size: 12px;
    line-height:18px;
    text-align: center;
}

.photoshoot-tile .background-image {
    background-image: url(/img/fotoshoot-tiles/Zwangerschaps-fotoshoot-303.webp);
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10px;
    z-index: 0;
    background-position: center;
    background-size:cover;
    filter:brightness(1);
    transition: filter 0.5s ease-in;
}

.hover-text {
    opacity: 0;
    z-index: 1;
    text-align: center;
    font-family: var(--font-nunito);
    color: white;
    text-transform: lowercase;
    transition: opacity 0.8s ease-in;
}
.photoshoot-tile:hover {
    transform: scale(1.1);

}
.photoshoot-tile:hover .background-image {
    filter:brightness(0.5);
}
.photoshoot-tile:hover .hover-text {
    opacity: 0.9;
}
.photoshoot-tile .background-image:hover ~ .hover-text {
    display: block;
    z-index: 99;
}
.hover-text:hover {
    display: block;
}
.hover-text:hover ~ .background-image {
    filter:brightness(0.5);
}

.photoshoot-tile.kinderen .background-image {
    background-image: url("https://www.maxvanwijnen.nl/www/docs/images/fotoshoot-tiles/kinder-fotoshoot.webp");

}

.photoshoot-tile.loveshoot .background-image {
    background-image: url("https://www.maxvanwijnen.nl/www/docs/images/fotoshoot-tiles/loveshoot-fotoshoot.webp");
}

.photoshoot-tile.zwangerschap .background-image {
    background-image: url("https://www.maxvanwijnen.nl/www/docs/images/fotoshoot-tiles/zwangerschap-fotoshoot.webp");
}

.photoshoot-tile.familie .background-image {
    background-image: url("https://www.maxvanwijnen.nl/www/docs/images/fotoshoot-tiles/familie-fotoshoot.webp");
}
.photoshoot-tile.portret .background-image {
    background-image: url("https://www.maxvanwijnen.nl/www/docs/images/fotoshoot-tiles/portret-fotoshoot.webp");
}
.photoshoot-tile.trouwen .background-image {
    background-image: url("https://www.maxvanwijnen.nl/www/docs/images/fotoshoot-tiles/bruidsreportage-fotoshoot.webp");
}




