.photoshoot-tile {

    width: 166px;
    height: 132px;
    margin-top:20px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;

    position: relative;
}

.title {
    font-family: var(--font-nunito);
    text-transform: capitalize;
    margin-top:5px;
    color: var(--color-black-coffee);

}
.title .fotoshoot {
    z-index: 1;
    font-size: 18px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height: 18px;

}

.title .text {
    z-index: 1;
    font-size: 21px;
    line-height:18px;

    text-align: center;
}

.photoshoot-tile .background-image {
    background-image: url(/img/fotoshoot-tiles/Zwangerschaps-fotoshoot-303.webp);
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10px;
    z-index: 0;
    background-position: center;
    background-size:cover;
    filter:brightness(1);
    transition: filter 0.2s ease-in;
}
.photoshoot-tile .background-image:hover {
    filter:brightness(0.5);

}
.hover-text {
    display: none;
    z-index: 1;
    text-align: center;
    font-family: var(--font-nunito);
    color: white;
}
.photoshoot-tile .background-image:hover ~ .hover-text
 {

    display: block;

}
.hover-text:hover {
    display: block;

}
.hover-text:hover ~ .background-image {
    filter:brightness(0.5);

}

.photoshoot-tile.kinderen .background-image {
    background-image: url(/img/fotoshoot-tiles/Kinderen-fotoshoot-303.webp);
}

.photoshoot-tile.loveshoot .background-image {
    background-image: url(/img/fotoshoot-tiles/Koppel-fotoshoot-303.webp);
}

.photoshoot-tile.zwangerschap .background-image {
    background-image: url(/img/fotoshoot-tiles/Zwangerschaps-fotoshoot-303.webp);
}

.photoshoot-tile.familie .background-image {
    background-image: url(/img/fotoshoot-tiles/Familie-fotoshoot-303.webp);
}
.photoshoot-tile.portret .background-image {
    background-image: url(/img/fotoshoot-tiles/Portret-fotoshoot-303.webp);
}




