.text-img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap:20px;
  margin:50px 0px;
  font-family: var(--font-baloo-tamma);
  flex-wrap: wrap;
  justify-content: center;



  h2 {
    text-align: center;
    font-size: 45px;
    width: 100%;
  }

  .text-content {
    width: 45%;
    max-width: fit-content;


    h3 {
      text-align: right;
      font-size:36px;
      margin-bottom:0px;
      margin-top:20px;
      max-width: 500px;
    }

  }

  img {
    width: 50%;
    max-width: 500px;
    border-radius:8px;
  }


  p {
    text-align: right;
    font-size: 20px;
    font-family: var(--font-raleway);
    line-height: 30px;
    max-width: 500px;
  }
}

@media screen and (max-width: 1220px) {
  .text-img {
    flex-direction: column-reverse;
    align-items: center;

    h2 {
      order: 1;
      text-align: center;
    }

    .text-content {
      width:90vw;



      h3 {
        text-align: center;
      }
      p {
        text-align: center;
        width:90%;
      }
    }



  }
}

@media screen and (max-width: 800px) {

}