@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');



:root {
  --color-orange:#FB8B24;
  --color-dark-green:#2F4C3C;
  --color-light-green:#558B6E;
  --color-black-coffee:#433A3F;
  --color-rose:#D90368;
  --nav-font-size:12px;
  --transparant-white:rgba(255, 255, 255, 0.95);
  --max-width:1270px;

  --font-raleway: 'Raleway', sans-serif;
  --font-baloo-tamma: 'Baloo Tamma 2', sans-serif;
  --font-roboto: 'roboto', sans-serif;
  --font-nunito: 'Nunito', sans-serif;

}

* {
  box-sizing: border-box;
  padding: 0px;
  margin:0px;
}
a,
a:visited,
a:active {
  text-decoration: none;
}
body {
  opacity: 1;
  transition: opacity 5s;
  background-color: #FBFBFB;
}
.container {
  width:1200px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:30px;
}

.bread-crumbs {
  background-color: white;
  padding:10px;


}

.bread-crumbs a {
  margin-right: 10px;
  color:var(--color-black-coffee);
}

.intro-text {
  width: 300px;
}

section {
  max-width: var(--max-width);
  width: 100%;
  margin-top:20px;
}