.txtImg2Column {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.txtImg2Column article {
    background-color: white;
    padding:20px;
    border-radius: 16px;
    flex-basis: 670px;
}

.txtImg2Column article h2 {
    font-family: var(--font-baloo-tamma);
    font-size: 48px;
}
.txtImg2Column p {
    font-family: var(--font-roboto);
    color: #5E5E5E;
    font-size:20px;
    line-height: 27.5px;

}
.txtImg2Column img {
    border-radius: 16px;
}