.element-image-bg {
  background-image: url("https://www.maxvanwijnen.nl/www/images/Fotoshoot-kind-noordwijk-001.jpg");
  background-size: cover;
  backdrop-filter: blur(30px);
  max-width: 100vw;
  padding:50px;
  min-height: 400px;
}